div {
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  div#objetoazul {
    color: white;
    background-color: blue;
  }
  div#objetorojo {
    color: white;
    background-color: red;
  }
  div#objetoverde {
    color: white;
    background-color: green;
  }
  div#objetoamarillo {
    color: white;
    background-color: yellow;
}

div#ele1 {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    
}


